.contBtnGenerarPDF,
.contMostrarVentasAsociadas,
.contButtonVolver,
.contButtonActualizar {
    margin: 1rem;
    text-align: center;
}

.contButtonVerOcultar {
    text-align: center;
    padding: 15px;
}

.contButtonVolverGuardar,
.contButtonVolverCancelarGuardar,
.contAbonarTotalHacerEntrega {
    margin-top: 1.5rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.buttonVerOcultar,
.btnMostrarVentasAsociadas {
    border: none;
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
}

.buttonCrearFactura {       
    text-transform: uppercase;
}

.buttonGuardar,
.buttonVolver,
.buttonCancelar,
.buttonHacerEntrega,
.buttonAbonarTotal,
.btnGenerarPDF {
    padding: 8px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.buttonAbonarTotal {
    background-color: greenyellow;
}

.buttonHacerEntrega {
    background-color: orange;
}

.buttonCancelar {
    background-color: rgb(255, 72, 0);
}

.buttonCancelar:hover {
    background-color: rgb(253, 135, 88);
    border: solid 0.1px;
}

.buttonVolver {
    background-color: rgb(230, 230, 230);
}

.buttonVolver:hover {
    background-color: rgb(190, 190, 190);
    border: solid 0.1px;
}

.buttonGuardar,
.btnGenerarPDF {
    background-color: rgb(107, 107, 243);
}

.buttonGuardar:hover,
.btnGenerarPDF:hover {
    background-color: rgb(131, 179, 252);
    border: solid 0.5px;
}