@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

.menuPagesNav {

    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}

.menuPagesNav ul li{
    padding: 2.5px;
}

.menuPagesNav ul li img{
    margin-right: 1.4rem;
    width: 16%;   
}