.linkNuevaVnta{
    color: rgb(53, 228, 97);
    text-decoration: none;
    border: 1px solid rgb(53, 228, 97);;
    border-radius: 5px;
    padding: 2px;
    display: block;
    width: 85%;
    text-align: center;
    margin: auto;
    font-weight: 800;
}