.navMenu {
    margin-top: 1rem;
    text-align: center;
    padding: 5px;

    & ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;        

        & li {
            list-style: none;
            width: 25%;

            & .btnMenu {
                display: inline-block;
                border-radius: 8px;
                background-color: rgb(209, 209, 209);
                padding: 8px;
                width: max-content;
            }
        }
    }
}

.link-menu {
    font-size: 0.75rem;
    text-transform: uppercase;
}

.li>.selected {
    text-decoration: underline;
}