.contDetalleFactura {
    & .boxDetalles {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;

        & div>h4 {
            padding: 3px;

            & span {
                font-family: sans-serif;
                font-size: 15px;
                font-weight: 100;
            }
        }
    }

    & .boxProductos {
        border: 1px solid black;
        border-radius: 5px;
        padding: 8px;

        & table {
            width: 100%;
            display: table;
            border-spacing: 8px;
            text-align: left;
        }

        & .total {
            margin: auto;
            width: 80%;
            padding: 8px;
            background-color: rgb(243, 243, 243);

            & h4 {
                text-align: center;
                text-transform: uppercase;
            }
        }
    }

    .nota {
        text-align: center;
        padding: 5px;

        & h4>span {
            font-family: sans-serif;
            font-size: 15px;
            font-weight: 100;
        }
    }
}