.formNvo {
    margin: auto;
    text-align: center;
}

.contEntradas {
    width: 60%;
    margin: auto;

    & input,
    .select {
        border: none;
        border-radius: 8px;
        background-color: rgb(209, 209, 209);
        padding: 5px;
    }

    & .select {
        width: 180px;
        text-align: center;
    }

    & label {
        display: block;
        padding: 5px;
    }

}