.tituloComponent{
    font-size: 0.85rem;
}

.tablePages {
    margin-top: 8px;
    width: 100%;
    display: table;
    border-spacing: 1px;
    text-align: left;
}

.tableBody .colorParImpar:nth-child(odd) {
    background-color: #f2f2f2; /* Color para las filas impares */
}

.tableBody .colorParImpar:nth-child(even) {
    background-color: #ffffff; /* Color para las filas pares */
}

.tdFlex {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    align-items: center;    

    & button {
        border: none;
        cursor: pointer;

        .borrar {
            width: 19px;
        }
    }

    & .detalle {
        width: 28px;        
    }

    & .editar {
        width: 21px
    }
}

.contBtnOrderCliente{
    text-align: center;   
    
    & button{
        padding: 5px;
        margin: 0 0 5px 5px;
        border-radius: 5px;
        border: none;  
        cursor: pointer;     
    }

    & .guardar{         
        background-color: greenyellow;
        color: black;
    }

    & .cancelar{
        background-color: red;
        color: white;
    }
}

.tdNombreApellido{
    cursor: pointer;
}

.tdNuevaVenta{    
    text-align: center;

    & img{
        width: 28px;
    }
}

.fechaHora{
    font-size: 15px;
    color: rgb(92, 92, 92)
}

.errorValidation{
    text-align: center;
    font-size: 18px;
    color: red;
}