.contSelectorBarrios{    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;   
    margin-bottom: 1rem;           

    & div {
        width: 32%;
        cursor: pointer;
        border-radius: 8px;
        padding: 2px 6px;
        margin-bottom: 4px;
        text-align: center;
    }
    
    & .barrio {
        border: 1px solid black;
    }
    
    & .seleccionado{
        border: 1px solid blue;
        color: blue;             
    }
}