.contVentasSelecc {
    padding: 10px;
    border: 1px solid black;
    margin-bottom: 10px;
    border-radius: 8px;
    text-align: center;

    & h5 {
        margin-bottom: 0.5rem;
        text-transform: uppercase;
    }

    & .ventasAFacturar {

        display: flex;
        justify-content: center;
        gap: 1rem;
        margin-bottom: 1rem;

        & li {
            list-style: none;
            background-color: aqua;
            padding: 5px;
        }
    }
}