.contVentasSelecc {
    padding: 0 20px;

    & h5 {
        margin-bottom: 0.5rem;
        text-transform: uppercase;
    }

    & .ventasAFacturar {

        display: flex;
        justify-content: left;
        gap: 1rem;
        margin-bottom: 1rem;

        & li {
            list-style: none;
        }
    }
}